{% extends "aplication/index.html" %}

{% block titulo %}
<h1 class="mb-5">Acerca de mi...</h1>
{% endblock titulo %}


{% block contenido %}
    <h2>Soy alumno del curso de Python dictado por Norman Beltran</h2>
    <h3>Mi nombre es Franco Lopez Hiriart</h3>
    <p>Soy un estudiante de Ingeniería Civil con experiencia como analista de datos en una obra social a nivel nacional en Argentina. A través de mi trayectoria profesional, he desarrollado habilidades analíticas sólidas y un profundo entendimiento de cómo los datos pueden informar y mejorar las decisiones en el ámbito de la salud y la seguridad social. Recientemente, he ampliado mis horizontes al sumergirme en el mundo de la programación, donde he encontrado una nueva pasión. Esta combinación única de experiencia en ingeniería civil, análisis de datos y programación me permite abordar los desafíos desde diferentes perspectivas, buscando soluciones innovadoras y eficientes. Mi objetivo es seguir integrando mis conocimientos y habilidades para impulsar el desarrollo de proyectos que beneficien a la comunidad y promuevan el bienestar social en Argentina y más allá.</p>
{% endblock contenido %}